html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.results-container{
    display:flex;
    flex-direction: column;
    align-items: center;   
    justify-content:flex-start;
    margin-top: 80px;
   
   
}

#image-results{
    margin-bottom: 20px;

}
.results-container h1{
    color:hsl(0, 0%, 100%);
    margin: 10px;
    margin-bottom: 5px;


}

.results-container p{
    
    color:hsl(240, 3%, 46%); 
    margin: 10px 30px 40px 30px;  
    text-align: center;
   
}

.stats-results{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    gap:1rem;
    margin-bottom: 50px;
    
}
.stats{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
    justify-content:center;
    color: hsl(240, 3%, 46%); 
    border : 2px solid hsl(240, 3%, 46%); 
    border-radius: 10px;
    width:150px;
    height:70px;
}
#WPM-results{
    color:hsl(0, 0%, 100%);
    font-weight: 700;
}
#Score{
    color:hsl(49, 85%, 70%);
    font-weight: 700;
}

.restart-button{
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    color:hsl(0, 0%, 7%);
    font-weight: 700;
    font-size: medium;
    border-radius: 5px;
    font-family: "Sora", sans-serif;
    cursor :pointer;
    border:none;
    padding:10px;

}
.restart-button:hover{
    background-color: hsl(140, 63%, 57%);

}
.image-restart{
    padding-left: 5px;
    filter:brightness(0%);
   
}

@media (max-width:600px){
    .results-container h1{
        font-size:x-large
    }
    .stats-results{
        flex-direction: column;
        width: 80%;
    }
    .stats{
        width:100%;

        font-size: larger;
    }
        
    .restart-button{
        font-size: large;
    }
}